# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/test/test.vcxproj.filters
/test/test.vcxproj
/Server8.VC.VC.opendb
/Server8.VC.db
/Server8.v12.suo
/Server8.sln
/Server8.sdf
/Debug/Server8.pdb
/Debug/Server8.ilk
/Debug/Server8.exe
/.vs/Server8/v14/.suo
